$Black-color: #000000;
$White-color: #FFFFFF;
$Blue-color: #3c54a0;
$Orange-color: #ff9000;
$LightBlue-color: #b8c1e1;
$OffWhite-color: #fdf6ec;

@import "https://fonts.googleapis.com/css?family=Open+Sans:400,800";

$open-sans: 'Open Sans', sans-serif;